services:
  flask:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: flask_app
    restart: always
    networks:
      - escape-room-network
    environment:
      - SECRET_KEY=${SECRET_KEY}
      - FLASK_ENV=${FLASK_ENV}
    expose:
      - "5000"

  nginx:
    image: nginx:latest
    container_name: nginx_proxy
    restart: always
    networks:
      - escape-room-network
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./ssl:/etc/nginx/ssl
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - flask

networks:
  escape-room-network:
    driver: bridge
