:root {
  color-scheme: dark;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    padding: 20px;
}

input, button {
    font-size: 14px;
    padding: 6px;
    margin-top: 10px;
}

p {
    margin-top: 10px;
}