{% extends "base.html" %}

{% block body %}
    <h1>Soba pobega</h1>
    
    <p>Zbudil si se. Prva stvari ki jo kot vsako jutro narediš kot vsak računalničar je seveda da se usedeš za računalnik, ter pogledaš kaj ima novega. A tokrat ne gre tako enostavno. Ko si oprl računalnik, vidiš eno sporočilo.  V njem piše: »Mi smo hekerji iz skupine TFX17. Zaradi kršitve dogovora, smo bili prisiljeni zakleniti tvoj računalnik. Vendar smo ti pustili eno možnost. Če premagaš vse 4 levele, bomo tvoj računalnik odkleniti. Vendar pazi, ne pričakuj da bo enostavno. Vseeno ti želimo veliko sreče«</p>
    <p>Začni z reševanjem levelov in pridobi pravico do uporabe sovjega računalnika! Srečno!</p>
    
    <p><a href="/levels/1">Level 1</a></p>
{% endblock %}